@charset "UTF-8";

/* ========================================================== */
/* variables globales */
/* ========================================================== */
@import "compass";
@import "compass/reset";
@import "partials/variables";

/* ========================================================== */
/* imports otros */
/* ========================================================== */
@import "partials/utils";

/* ========================================================== */
/* grid */
/* ========================================================== */
@import "grid/grid_xs";
@import "grid/grid_sm";
@import "grid/grid_md";
@import "grid/grid_lg";
@import "grid/grid_xl";
@import "grid/grid_xxl";


/* ========================================================== */
/* generar sprites */
/* ========================================================== */
$spr1-layout: diagonal;
$spr1-spacing: 50px;
$spr2-layout: diagonal;
$spr2-spacing: 50px;
@import "spr1/*.png";
@import "spr2/*.png";


/* ========================================================== */
/* layout */
/* ========================================================== */
@import "partials/base";
@import "partials/layout";


/* ========================================================== */
/* modulos generales */
/* ========================================================== */
@import "modules/header";
@import "modules/footer";
